---
import SidebarTopicsSidebar from 'starlight-sidebar-topics/overrides/Sidebar.astro';
import { Icon, LinkButton } from '@astrojs/starlight/components';
---

<div class="topics-sidebar">
  <SidebarTopicsSidebar {...Astro.props}>
    <slot />
  </SidebarTopicsSidebar>
  <div class="divider"></div>
  <div class="sidebar-bottom">
    <LinkButton href={'https://github.com/microsoft/aspire.dev'} variant="minimal">
      <Icon name="github" />
      aspire.dev
    </LinkButton>
  </div>
</div>

<style>
  .topics-sidebar {
    display: flex;
    flex-direction: column;
  }

  .topics-sidebar .divider {
    flex-grow: 1;
  }

  .topics-sidebar .sidebar-bottom {
    color: var(--aspire-color-secondary);
    margin-top: 1rem;
    border-top: 1px solid var(--sl-color-gray-5);
    text-align: center;
  }

  .topics-sidebar {
    flex-grow: 1;
  }

  .topics-sidebar .sl-link-button {
    padding-bottom: 0rem;
  }
</style>
