---
import Default from "@astrojs/starlight/components/SocialIcons.astro";
import { Icon } from "@astrojs/starlight/components";
---

<div class="rss-section sl-flex">
    <a
        href="/rss.xml"
        rel="no"
        rel="noopener noreferrer"
        class="sl-flex external-link"
        target="_blank"
        title="RSS feed"
        aria-label="(RSS feed opens in new tab)"
    >
        <span class="sr-only astro-wy4te6ga">RSS Feed</span>
        <Icon name="rss" />
    </a>
    <a
        href="/get-started/install-cli/"
        rel="no"
        rel="noopener noreferrer"
        class="sl-flex external-link"
        target="_blank"
        title="Install Aspire CLI"
        aria-label="(Install Aspire CLI opens in new tab)"
    >
        <span class="sr-only astro-wy4te6ga">Install Aspire CLI</span>
        <Icon name="download" />
    </a>
</div>

<Default>
    <slot />
</Default>

<style>
    :root {
        svg {
            --sl-icon-size: 1.25rem !important;
        }

        .rss-section {
            gap: 1rem;
            align-items: center;
        }

        .rss-section a.external-link {
            color: var(--sl-color-text-accent);
            padding: 0.5em;
            margin: -0.5em;
        }
        .rss-section a.external-link:hover {
            opacity: 0.66;
        }

        .rss-section::after {
            content: "";
            height: 2rem;
            border-inline-end: 1px solid var(--sl-color-gray-5);
        }
    }
</style>
