<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="aspire.dev" value="https://pkgs.dev.azure.com/dnceng/aspire-msft/_packaging/aspire.dev/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="aspire.dev">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>