---
import ThemeImage from "./ThemeImage.astro";
import mapLight from "../assets/maps/map-lightdots.svg";
import mapDark from "../assets/maps/map-darkdots.svg";
---

<div class="not-content map">
  <ThemeImage
    light={mapLight}
    dark={mapDark}
    alt="Map showing Aspire community locations around the world"
  />
</div>

<style>
  .map {
    background-color: var(--sl-color-gray-5);
    border: 1px solid var(--sl-color-gray-4);
    box-shadow: var(--sl-shadow-md);
    border-radius: 0.5rem;
    padding: 1rem 8rem;
    text-align: center;
  }

  :root[data-theme="light"] .map {
    background-color: var(--sl-color-gray-4);
    border: 1px solid var(--sl-color-gray-3);
  }
</style>
