---
import ThemeImage from './ThemeImage.astro';
import mapLight from '../assets/maps/map-lightdots.svg';
import mapDark from '../assets/maps/map-darkdots.svg';
---

<div class="not-content map">
  <ThemeImage
    light={mapLight}
    dark={mapDark}
    alt="Map showing Aspire community locations around the world"
  />
</div>

<style>
  :root .map {
    --pad-min: 1rem; /* left/right at 480px and below */
    --pad-max: 14rem; /* left/right at 1024px and above */
    --w-min: 480px;
    --w-max: 1024px;
  }

  :root[data-theme='light'] .map {
    background-color: var(--sl-color-gray-4);
    border: 1px solid var(--sl-color-gray-3);
  }

  .map {
    background-color: var(--sl-color-gray-5);
    border: 1px solid var(--sl-color-gray-4);
    box-shadow: var(--sl-shadow-md);
    border-radius: 0.5rem;
    text-align: center;

    padding-block: 1rem;

    /* Responsive padding: min 1rem up to 14rem on large screens */
    padding-inline: clamp(
      var(--pad-min),
      calc(
        var(--pad-min) + (var(--pad-max) - var(--pad-min)) *
          ((100vw - var(--w-min)) / (var(--w-max) - var(--w-min)))
      ),
      var(--pad-max)
    );
  }
</style>
