---
import { Leaflet, Marker, Popup } from "astro-leaflet";

// Coordinates for your cities
type LatLng = [number, number];

const cityMarkers: { latlng: LatLng; popup: string }[] = [
  { latlng: [46.8083, -100.7837], popup: "Bismarck, ND" },
  { latlng: [47.6062, -122.3321], popup: "Seattle, WA" },
  { latlng: [42.3601, -71.0589], popup: "Boston, MA" },
  { latlng: [43.0389, -87.9065], popup: "Milwaukee, WI" },
  { latlng: [45.8081, 9.0852], popup: "Como, Italy" },
  { latlng: [50.1544, -5.0711], popup: "Falmouth, UK" },
  { latlng: [-36.9848, 143.3906], popup: "Victoria, Australia" },
  { latlng: [-31.9505, 115.8605], popup: "Perth, Australia" },
  { latlng: [50.0755, 14.4378], popup: "Prague, Czech Republic" },
  { latlng: [1.3521, 103.8198], popup: "Singapore" },
  { latlng: [38.9072, -77.0369], popup: "Washington, DC" },
  { latlng: [43.4799, -110.7624], popup: "Jackson, WY" },
];
---

<div class="not-content">
  <Leaflet
    class={"map"}
    options={{
      center: [20, 0] as LatLng,
    }}
  >
    {
      cityMarkers.map((city) => (
        <Marker latlng={city.latlng} options={{ title: city.popup }}>
          <Popup content={city.popup} />
        </Marker>
      ))
    }
  </Leaflet>
</div>

<style>
  :root {
    .leaflet-control-zoom {
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }

  :root[data-theme="dark"] {
    .leaflet-layer {
      filter: invert(100%) hue-rotate(180deg) brightness(200%) contrast(80%);
    }

    .leaflet-bar a {
      color: var(--sl-color-text);
      overflow: hidden;
    }

    .leaflet-control-zoom {
      border: 2px solid var(--sl-color-gray-2);
    }

    .leaflet-control-zoom-in {
      border-bottom: 1px solid var(--sl-color-gray-2);
    }

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
      background: var(--sl-color-gray-5);
    }

    .leaflet-control-zoom-in:hover,
    .leaflet-control-zoom-out:hover {
      background: var(--sl-color-bg-nav);
    }

    .leaflet-control-attribution {
      color: var(--sl-color-text);
      background: var(--sl-color-bg-nav);
    }

    .leaflet-control-attribution a {
      color: var(--aspire-color-secondary);
    }
  }
</style>
