---
import { Icon } from '@astrojs/starlight/components';
import config from 'virtual:starlight/user-config';

const links = config.social || [];
const gitHubLink = links.filter(l => l.label == 'GitHub')[0].href || null;
const discordLink = links.filter(l => l.label == 'Discord')[0].href || null;
const is404 = Astro.locals.starlightRoute?.entry?.slug === "404";
---

{!is404 && (
<section class="sl-flex">
<a href="https://stackoverflow.com/questions/tagged/dotnet-aspire" class="sl-flex" target="_blank">
    <Icon name="stackOverflow" size="1.2em" />
    {Astro.locals.t('footer.ask')}
</a>

{
    gitHubLink ? (
        <a href={gitHubLink} class="sl-flex" target="_blank">
            <Icon name="github" size="1.2em" />
            {Astro.locals.t('footer.collab')}
        </a>
    ) : (
        <></>
    )
}
{
    discordLink ? (
        <a href={discordLink} class="sl-flex" target="_blank">
            <Icon name='discord' />
            {Astro.locals.t('footer.community')}
        </a>
    ) : (
        <></>
    )
}

<a href="https://www.reddit.com/r/aspiredotdev" class="sl-flex" target="_blank">
    <Icon name="reddit" size="1.2em" />
    {Astro.locals.t('footer.discuss')}
</a>

<a href="https://www.youtube.com/@aspiredotdev" class="sl-flex" target="_blank">
    <Icon name="youtube" size="1.2em" />
    {Astro.locals.t('footer.watch')}
</a>
</section>
)}

<style>
	section {
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem 1.5rem;
        padding-top: 2rem;
		font-size: var(--sl-text-sm);
	}

	a {
		align-items: center;
		text-decoration: none;
		gap: 0.5rem;
		color: var(--sl-color-gray-1);
	}

	a:hover {
		color: var(--sl-color-white);
	}
</style>